{% extends 'master.html' %}

{% block title %}
    Add a book
{% endblock %}

{% block body %}
    <!-- ======= Contact Section ======= -->
    <div id="contact" class="paddsection">
      <div class="container">
        <div class="contact-block1">
          <div class="row">

            <div class="col-lg-6">
              <div class="contact-contact">

                <h2 class="mb-30">Contribute a book to our website</h2>

                <ul class="contact-details">
                  <li><span>Want to share your favourite book?</span></li>
                  <li><span>Upload the book by filling this form</span></li>
                  <li><span>And Earn Rewards</span></li>
                  <li><span>Become a Book Revolutionary</span></li>
                </ul>

              </div>
            </div>

            <div class="col-lg-6">
              <form action="" method="POST" class="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row gy-3">

                  <div class="col-lg-6">
                    <div class="form-group contact-block1">
                      <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <input type="text" class="form-control" name="title" id="email" placeholder="Title of Book" required>
                    </div>
                  </div>

                  <div class="col-lg-6">
                      <div class="form-group contact-block1">
                        <input type="text" name="author" class="form-control" id="name" placeholder="Author" required>
                      </div>
                    </div>
  
                  <div class="col-lg-6">
                      <div class="form-group">
                          Category
                          <select name="category">
                              <option value="fiction">Fiction</option>
                              <option value="nonfiction">Non Fiction</option>
                              <option value="romance">Romance</option>
                              <option value="mystery">Mystery</option>
                              <option value="selfhelp">Self Help</option>
                              <option value="others">Others</option>
                          </select>
                      </div>
                  </div>

                  <div class="col-lg-12">
                    <div class="form-group">
                      Add Image
                      <input type="file" class="form-control" name="image" id="subject" placeholder="Add image" required>
                    </div>
                  </div>

                  <div class="col-lg-12">
                      <div class="form-group">
                        Upload book in pdf
                        <input type="file" class="form-control" name="book" id="subject" placeholder="Add image" required>
                      </div>
                    </div>

                  <div class="col-lg-12">
                    <div class="form-group">
                      <textarea class="form-control" name="about" placeholder="Something about the Book" required></textarea>
                    </div>
                  </div>

                  {% comment %} <div class="col-lg-12">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your message has been sent. Thank you!</div>
                  </div> {% endcomment %}
                  <br><br>
                  <div class="mt-0">
                    <input type="submit" class="btn btn-defeault btn-send" value="Add Book to our Library">
                  </div>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Contact Section -->
{% endblock %}