{% extends 'master.html' %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <!-- ======= Contact Section ======= -->
    <div id="contact" class="paddsection">
      <div class="container">
        <div class="contact-block1">
          <div class="row">

            <div class="col-lg-6">
              <div class="contact-contact">

                <h2 class="mb-30">Welcome to the Virtual Library</h2>

                <ul class="contact-details">
                  <li><span>Log In </span></li>
                  <li><span>to explore our world</span></li>
                  <li><span>of Books and Blogs</span></li>
                  <li><span>You are bound to be amazed</span></li>
                </ul>

              </div>
            </div>

            <div class="col-lg-6">
              <form action="{% url 'login' %}" method="POST" class="">
                {% csrf_token %}
                <div class="row gy-3">

                  <div class="col-lg-6">
                    <div class="form-group contact-block1">
                      <input type="text" name="username" class="form-control" id="name" placeholder="Your Username" required>
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                    </div>
                  </div>

                  <div class="col-lg-12">
                    <div class="form-group">
                      <input type="password" class="form-control" name="password" id="subject" placeholder="Password" required>
                    </div>
                  </div>

                  {% comment %} <div class="col-lg-12">
                    <div class="form-group">
                      <textarea class="form-control" name="message" placeholder="Message" required></textarea>
                    </div>
                  </div> {% endcomment %}

                  {% comment %} <div class="col-lg-12">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your message has been sent. Thank you!</div>
                  </div> {% endcomment %}
                  <br><br>
                  <div class="mt-0">
                    <input type="submit" class="btn btn-defeault btn-send" value="Login">
                  </div>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Contact Section -->
{% endblock %}